#required {
    content:"*";
    color:red;
    display: inline;
}


.navbar{
    /*margin-bottom: 50px;*/
}
.jumbotron{
    background-image: url("../images/background.jpg");
}
.jumbotron .container h1{
    color: #abf2ff;
    text-shadow: 1px 3px 2px #000000;
}

.jumbotron .container p{
    color: whitesmoke;
    text-shadow: 1px 1px 2px #000000;
}

.jumbotron .container .control-label{
    color: whitesmoke;
    text-shadow: 2px 2px 1px #000000;
}

input#inputEmail3.form-control{
    width: 20em;
}

input#inputPassword3.form-control{
    width: 20em;
}

.alert{
    margin-bottom: 0px;
}

.patient-list th {
    color: #4588ff;
}

img.img-thumbnail.profile {
    height: 140px;
    width: 140px;
}

.form-horizontal{

    margin-left: 2em;
    margin-right: auto;
    float: none;
}
#exam-images {
	overflow-y: visible;
}
#profile-photo {
	width:140px;
	height:140px;
	margin-left:Auto;
	margin-right:Auto;
	margin-bottom:1em;
	display:block;
}

.container {
	display:block;
	margin-left:Auto;
	margin-right:Auto;
	font-family:Helvetica Neue,Helvetica,Myriad Pro;
	font-size:0.8em;
	text-align:left;

}

