<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ patient.full_name }} · New Examination</title>

    {% load staticfiles %}

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://bootswatch.com/readable/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/validation.js' %}"></script>
    <script>
        $(document).ready(function () {
            var mandatoryFields = [$("#title-input"), $("#exam-date-input")]
            var button = $("#save-submit")
            validate(mandatoryFields, button)
        })
    </script>
</head>

<body>
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'homepage' %}">Medically</a>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'patient' patient_id=patient.id %}">{{ patient.full_name }}</a></li>
            {% if examination %}
                <li class="active">
                <a href="{% url 'examination' patient_id=patient.id examination_id=examination.id %}">{{ examination.title }}</a>
                </li>{% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ full_name }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'profile_view' %}">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout_view' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

{% if errors %}
    <div class="alert alert-danger" role="alert">{{ errors }}</div>
{% endif %}


<div class="container">
    <div class="row" id="first-row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form" method="post">
                {% csrf_token %}


                <div class="col-md-10">



                    <div class="form-group">
                        <label for="title-input" class="col-sm-3 control-label">Title: <label id="required">*</label></label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="title-input" placeholder="Title" name="title"
                                   value="{{ examination.title }}">
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="exam-date-input" class="col-sm-3 control-label">Examination Date: <label id="required">*</label></label>

                    <div class="col-sm-3">
                        <input type="date" class="form-control" id="exam-date-input" placeholder="Examination Date"
                               name="date" value="{{ examination.date.day }}/{{ examination.date.month }}/{{ examination.date.year }}">
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="form-group">
                    <label for="exam-info-input" class="col-sm-3 control-label">Examination Info:</label>

                    <div class="col-sm-9">
                        <textarea type="text" row="4" class="form-control" id="exam-info-input"
                                  placeholder="Examination Info" style="resize:none;"
                                  name="information">{{ examination.information }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="diagnosis-input" class="col-sm-3 control-label">Diagnosis:</label>

                    <div class="col-sm-9">
                        <textarea type="text" row="4" class="form-control" id="diagnosis-input"
                                  placeholder="Diagnosis" style="resize:none;"
                                  name="diagnosis">{{ examination.diagnosis }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="treat-offer-input" class="col-sm-3 control-label">Treatment Offer:</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="treat-offer-input" placeholder="Treatment Offer"
                               name="offered_treatment" value="{{ examination.offered_treatment }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="surgery-type-input" class="col-sm-3 control-label">Surgery Type:</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="surgery-type-input" placeholder="Surgery Type"
                               name="surgery_type" value="{{ examination.surgery_type }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="surgery-date-input" class="col-sm-3 control-label">Surgery Date:</label>

                    <div class="col-sm-3">
                        {%  if examination.surgery_date %}
                        <input type="date" class="form-control" id="surgery-date-input" placeholder="Appointment Date"
                               name="surgery_date" value="{{ examination.surgery_date }}">
                        {% else %}
                        <input type="date" class="form-control" id="surgery-date-input" placeholder="Appointment Date"
                               name="surgery_date" value="">
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="surgery-prep-input" class="col-sm-3 control-label">Surgery Preparation:</label>

                    <div class="col-sm-9">
                        <textarea type="text" row="4" class="form-control" id="surgery-prep-input"
                                  placeholder="Planning" style="resize:none;"
                                  name="surgery_prep">{{ examination.surgery_prep }}</textarea>
                    </div>
                </div>
                </div>
{#                <div class="col-md-2" id="exam-images">#}
{#                    <a href="#"><img class="img-thumbnail" src="{% static 'images/profile.jpg' %}"#}
{#                                     alt="..." id="profile-photo"></a>#}
{#                </div>#}
                <div class="col-md-offset-9 col-md-3" align="right">
                    {% if examination %}
                        <button type="button" class="btn btn-danger btn-sm">Discard</button>
                        <button type="submit" class="btn btn-success btn-sm" id="save-submit">Save Changes</button>

                    {% else %}
                        <button type="submit" class="btn btn-default btn-sm" id="save-submit">Save</button>
                    {% endif %}
                </div>


                {% if examination %}
                <div class="form-group" style="clear: both">
                    <label for="surgery-table" style="font-size:1.5em">Surgeries:
                        <button type="button"
                                onClick="location.href='{% url 'new_surgery' patient_id=patient.id examination_id=examination.id %}'"
                                class="btn btn-default btn-xs">New Surgery
                        </button>
                    </label>
                    <table class="table table-hover" id="surgery-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Notes</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for surgery in surgeries %}
                            <tr onclick="window.document.location='{% url 'surgery' patient_id=patient.id examination_id=examination.id surgery_id=surgery.id %}';">
                                <td>{{ surgery.id }}</td>
                                <td>{{ surgery.title }}</td>
                                <td>{{ surgery.date }}</td>
                                <td>{{ surgery.notes }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label for="followup-table" style="font-size:1.5em">Follow-Up:
                        <button type="button"
                                onClick="location.href='{% url 'new_followup' patient_id=patient.id examination_id=examination.id %}'"
                                class="btn btn-default btn-xs">New Follow-Up
                        </button>
                    </label>
                    <table class="table table-hover" id="followup-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Follow-Up Date</th>
                            <th>Appointment Date</th>
                            <th>Informations</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for followup in followups %}
                            <tr onclick="window.document.location='{% url 'followup' patient_id=patient.id examination_id=examination.id followup_id=followup.id %}';">
                                <td>{{ followup.id }}</td>
                                <td>{{ followup.date }}</td>
                                <td>{{ followup.appointment_date }}</td>
                                <td>{{ followup.information }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

            </form>
        </div>


    </div>
</body>
</html>