<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Medically • Registration</title>

    {% load staticfiles %}


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://bootswatch.com/readable/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/validation.js' %}"></script>
    <script>
        $(document).ready(function(){
            var mandatoryFields = [$("#name-input"),$("#institution-input"),$("#email-input"),$("#password-input")]
            var button = $("#register-button")
            validate(mandatoryFields,button)
        })
    </script>
</head>
<body>
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'homepage' %}">Medically</a>

    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">


        </ul>


        <ul class="nav navbar-nav navbar-right">

            <li><a href="#">About</a></li>

        </ul>
    </div>
</div>

{% if errors %}
    <div class="alert alert-danger" role="alert">{{ errors }}</div>
{% endif %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal profile" role="form" action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title-input" class="col-sm-2 control-label" for="title">Title:</label>

                <div class="col-sm-10">
                    <select name="title" class="form-control" id="title-input">
                        <option>Dr.</option>
                        <option>Prof. Dr.</option>
                        <option>Asst. Prof.</option>
                        <option>Assoc. Prof</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="name-input" class="col-sm-2 control-label">Full Name:</label>

                <div class="col-sm-10">
                    <input type="text" name="full_name"  class="form-control" id="name-input" placeholder="Full Name">
                </div>
            </div>

            <div class="form-group">
                <label for="institution-input" class="col-sm-2 control-label">Institution:</label>

                <div class="col-sm-10">
                    <input type="text" name="institution" class="form-control" id="institution-input"
                           placeholder="Institution">
                </div>
            </div>

            <div class="form-group">
                <label for="email-input" class="col-sm-2 control-label">Email:</label>

                <div class="col-sm-10">
                    <input type="text" name="email" class="form-control" id="email-input" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
                <label for="password-input" class="col-sm-2 control-label">Password: </label>

                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="password-input"
                           placeholder="Password">
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-info" id="register-button">Register</button>
                </div>
            </div>
        </form>


    </div>
</div>

<hr>

<footer>
    <p>© Medically 2014</p>
</footer>
</div>

</body>
</html>